@import url('https://fonts.googleapis.com/css?family=Kanit');

body {
  font-family: 'Kanit';
  font-weight: 600;
}

.head {
  /* position: absolute; */
  width: 309px;
  height: 72px;
  margin: auto;
  top: 50px;
  text-align: center;
}

.head span {
  /* font-family: 'Kanit'; */
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 72px;
  /* identical to box height */
  text-decoration-line: underline;
  color: #1E1E1E;
}

.register .content {
  width: 1200px;
  margin: auto;
  /* border: 2px solid green; */
  /* text-align: center; */
}

.register .content.closed {
  display: none;
}

.register .content .text-title {
  color: #0097EC;
  margin-bottom: 20px;
  text-align: center;
}

.register .content .text-title span {
  font-size: 18px;
}

.register .content .steps-content {
  margin-top: 40px;
}

.register .content .steps-content button {
  border: 0;
  outline: none;
}

.register .content .steps-content .upload-img {
  position: relative;
  background-color: #D9D9D9;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  margin: auto;
}

.register .content .steps-content .upload-img .edit-icon {
  font-size: 29px;
}

.register .content .steps-content .upload-file {
  display: block;
  position: relative;
  background-color: #D9D9D9;
  color: #fff;
  border-radius: 50%;
  width: 175px;
  height: 175px;
  cursor: pointer;
  text-align: center;
  align-items: center;
  margin: auto;
}

input[type="file"] {
  display: none;
}

.register .content .steps-content .descript {
  color: #FF5555;
  font-weight: 600;
  margin-top: 10px;
  /* border: 2px solid green; */
  margin: 10px auto;
}

.register .content .steps-content .choose-box {
  width: 176px;
  height: 50px;
  color: #0097EC;
  background-color: #fff;
  border: 2px solid #0097EC;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.register .content .steps-content .choose-box.check {
  color: #fff;
  background-color: #0097EC;
}

.register .content .steps-content .blood-box {
  width: 100px;
  height: 50px;
  color: #0097EC;
  background-color: #fff;
  border: 2px solid #0097EC;
  border-radius: 5px;
  cursor: pointer;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}

.register .content .steps-content .blood-box.check {
  color: #fff;
  background-color: #0097EC;
}

.register .content .steps-content .middle {
  text-align: center;
}

.register .content .steps-content .blood-right {
  height: 50px;
  text-align: right;
  line-height: 50px;
}

.register .content .steps-content .right {
  text-align: right;
}

.register .content .steps-content .middle .red-head {
  color: #FF5555;
}

/* .register .content .steps-content input {
  border: 0;
  outline: none;
} */

.register .content .steps-content .input {
  border: 0;
  outline: none;
  width: 139px;
  height: 59px;
  background-color: #fff;
  border: 2px solid #0097EC;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
}

.register .content .steps-content .star {
  color: #FF5555;
}

.register .content .steps-content .ques1 {}

.content .steps-action {
  text-align: center;
}

.register .content .steps-action button {
  width: 176px;
  height: 50px;
  border: 0;
  outline: none;
  border-radius: 5px;
  background-color: #0097EC;
  color: #fff;
  margin-right: 48px;
  margin-top: 69px;
}

.register .content .steps-action .btn2 {
  background-color: #429302;
}

.register .content .steps-action .btn3 {
  margin-right: 0px;
}

.register .content .steps-action .btn4 {
  background-color: #285703;
  margin-right: 0px;
}

.register.closed {
  display: none;
}

.detail {
  width: 900px;
  margin: auto;
  /* border: 2px solid green; */
  /* text-align: center; */
}

.detail .middle {
  text-align: center;
}

.detail .right {
  text-align: right;
}

.detail button {
  border: 0;
  outline: none;
}

.detail .edit-button {
  background-color: #0097EC;
  color: #fff;
  font-size: 17px;
  width: 34px;
  height: 34px;
  text-align: center;
  align-items: center;
  border-radius: 3px;
  margin-bottom: 20px;
  cursor: pointer;
}

.detail .btn2 {
  width: 176px;
  height: 50px;
  color: #fff;
  background-color: #429302;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

.detail.closed {
  display: none;
}

.detail .detail-content {
  /* border: 2px solid green; */
}

.detail .detail-content .content {
  border: 3px solid #0097EC;
  border-radius: 5px;
  padding: 20px 20px;
  margin-bottom: 20px;
}

.detail .detail-content .content.con1 img {
  width: 100px;
  height: 100px;
  background-color: #D9D9D9;
  border: 0;
  outline: none;
}

.detail .detail-content .content .head-detail {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 72px;
  /* identical to box height */
  text-decoration-line: underline;
  color: #0097EC;
}

.detail .detail-content .content .red-detail {
  font-weight: 600;
  color: #FF5555;
}

.detail .detail-content .content .text-detail {
  color: #0097EC;
}

